*,
*:before,
*:after{
	margin: 0;
	padding: 0;
}
body{
	/*background: url('../img/heart.jpg') center center fixed no-repeat;
	background-size: cover;*/
	font-family: 'Libre Baskerville', serif;
	font-weight: normal;
	font-size: 1em;

}
nav ul li{
	/*color: #402932;*/
	font-family: 'Libre Baskerville', serif;
	font-size: 1.5em;
	text-align: center;
	list-style: none;
	display: inline-block;
	padding-right: 6%;
}
ul li{
	font-family: 'Libre Baskerville', serif;
	font-size: 1.3em;
	text-align: center;
	list-style: none;
	display: inline-block;
}
a {
	color: #D88BAF;
	text-decoration: none;
}
a:hover{
	color: #EA2459;
}

em{
	font-size: 16pt;
}
h1{
	font-family: 'Libre Baskerville', serif;
 	font-weight: normal;
 	font-size: 6em;
 	text-align: center;
 	color: white;
 	padding-top: 3%;
}
h2{
/*	font-family: 'Give You Glory', cursive;*/	
	font-weight: normal;
 	font-size: 3em;
 	text-align: left;
 	color: black;
 	padding-top: 1%;
}
h4{
	font-family: 'Give You Glory', cursive;
	font-weight: normal;
 	font-size: 2em;
 	text-align: left;
 	color: black;
 	padding-left: 10%;
 	/*padding-top: 1%;*/
}
.container{
	max-width: 960px;
	margin: 0 auto;
}
.navbar{
	max-width: 100%;
	text-align:center;
	background:rgba(255,255,255,.9);
	padding: 2%;
	margin-bottom: 2%;
}
.box{
   background: rgba(255,255,255,.85);
   margin-top: 2%;
   margin-bottom: 2%;
   padding: 2% 2% 2% 4%;
}
.bkindex{
		background: url('../img/lights.jpg') center center fixed no-repeat;
	background-size: cover;
}
.bkbash{
	background: url('../img/heart.jpg') center center fixed no-repeat;
	background-size: cover;
}
.bkgit{
	background: url('../img/flower_heart.jpg') center center fixed no-repeat;
	background-size: cover;
}
.bkgithub{
	background: url('../img/love_heart.jpg') center center fixed no-repeat;
	background-size: cover;
}
.greeting{
		font-family: 'Give You Glory', cursive;
}
.greeting1{
	font-family: 'Cedarville Cursive', cursive;
}
.greeting2{
	font-family: 'Rochester', cursive;
}
.content1{
	font-family: 'Crimson Text', serif;
	font-size: 13pt;
}
.content2{
	font-family: 'Lora', serif;
}
.tooltip{
	position: relative;
	display: inline-block;
}
.tooltip .tooltiptext {
   visibility: hidden;
   width: 30px;
   background-color: #FE5779;
   color: white;
   text-align: center;
   border-radius: 5px;
   padding: 5px 0;

   position: absolute;
   z-index: 1;
   top: -5px;
   left: 105%;

}
.tooltip:hover .tooltiptext{
	visibility: visible;
}